# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
projenv310/

# Test Artifacts
tests/videos/
tests/screenshots/
tests/*.html
tests/*.json
tests/*.mp4
tests/*.webm
tests/*.pdf
ui/tests/videos/
ui/tests/screenshots/
ui/tests/*.html
ui/tests/*.json
ui/tests/*.mp4
ui/tests/*.webm
ui/tests/*.pdf

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
